.icon{
	display: inline-block; vertical-align: middle;
	margin-right: .2em; margin-left: .2em;
}





/*------------------------------------*\
    #SIZES
\*------------------------------------*/

.icon--xmall{ width: 15px !important; }
.icon--small{ width: 25px !important; }
.icon--medium{ width: 70px !important; }
.icon--large{ width: 130px !important; }
.icon--xlarge{ width: 170px !important; }

/**
 * Unique sizes
**/

.icon--beta-horizontal, .icon--beta-vertical{ width: 180px; }





/*------------------------------------*\
	#COLOR
\*------------------------------------*/

.icon path{ fill: currentColor; }




/*------------------------------------*\
	#POSITIONING
\*------------------------------------*/
.icon--item{
	position: absolute; top: 0; left: 0;
}




/*------------------------------------*\
	#TEXT - ICONS
\*------------------------------------*/

.icon--text{ padding-left: 50px; }