/*------------------------------------*\
	#TABLES
\*------------------------------------*/
.table{

}

.table__header{
	border: none;
}

.table__row{
	border-bottom: 1px solid @intermediate;

	&:last-of-type{ border: none; }
}